body{
    font-family: Arial,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #0C67A0;
  
}
.container{
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}
.form-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;

}
.form{
    display: flex;
    flex-direction: column;
}

.form h2{
    margin: 2px;
    background-color: #033452;
    color: white;
    border-radius: 5px;
    width: 290px;
    text-align: left;
    padding: 5px;
}
.form input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form button{
    padding: 10px;
    background-color: #033452;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form p{
    text-align: center;
}
.paragraph {
    display: flex;
    padding-bottom: 8px;
    margin-right: 0;
    margin-left: 6px;
}

.submission-button{
    margin: 2px;
    background-color: #033452;
    color: white;
    border-radius: 5px;
    width: 290px;
    padding: 5px;
    text-align: center;
}
.OTP-input{
    margin-top: 10px;
}
.logo-title{
    padding: 10;
    font-size: 26px;
    margin-top: 0;
}