/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    /* line-height: 1.5; */
    font-family: 'Poppins',sans-serif;
}
.footer__container{
    max-width: 1100px;
    margin: auto;
    height: 138px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer__ul{
    list-style: none;
    font-size: 10px;
}
.footer__ul li {
    list-style: none;
    font-size: 10px;
}
.footer{
    background-color: #24262b;
    padding: 10px 0;
    font-size: 10px;
}
.footer-col{
    width: 25%;
    padding: 0px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
    font-size: 10px;
    font-size: 10px;
    margin-left: 30px;

}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child){
    margin-bottom: 5px;
}
.footer-col ul li a{
    font-size: 10px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    margin-top: 5px;
}
.footer-col ul li a:hover{
    columns: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.2);
    margin : 10px 20px 20px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/* responsive */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer{
        height: 300px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .footer {
        height: 600px;
    }

}
